<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="~{partial :: bootstrap}"/>
    <link rel="stylesheet" th:href="@{/css/details.css}">
    <th:block th:replace="~{event/styleFragment :: commonCss}"/>
    <title>Delete Seating</title>
</head>
<body>
<header>
    <nav th:replace="~{nav :: navbar}"></nav>
</header>
<div class="container mt-3">
    <main class="row g-5">
        <h1 class="display-6 fw-bold">Are you sure you want to delete this Seating?</h1>
        <div th:replace="~{reservation/fragments :: event}"></div>
        <div class="col-md-6"><th:block th:object="${seating}" th:if="${seating != null}">
            <div class="card shadow-sm mt-4">
                <div class="card-header bg-success text-white">
                    <h5 class="card-title mb-0">Seating Information</h5>
                </div>
                <div class="card-body">

                    <dt class="col-sm-4 text-muted">Name:</dt>
                    <dd class="col-sm-8 fw-bold fs-5" th:text="*{name}"></dd>

                    <dt class="col-sm-4 text-muted">Start Date:</dt>
                    <dd class="col-sm-8 fs-6" th:text="*{#temporals.format(startDate, 'dd-MM-yyyy HH:mm')}"></dd>

                    <dt class="col-sm-4 text-muted">Duration:</dt>
                    <dd class="col-sm-8 fs-6" th:text="*{duration + ' min'}"></dd>

                </div>
            </div>
        </th:block>
        </div>
        <div>
            <!--/*@thymesVar id="id" type="nbcc.resto.dto.UrbanPlatterEvent"*/-->
            <form method="post" th:action="@{/seating/delete/{id}(id=${seating.id})}">
                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-danger mt-2"/>
                </div>
            </form>
        </div>
        <div>
            <a th:href="@{/seating}"  class="btn btn-dark mt-2">Cancel</a>
        </div>
    </main>
</div>
<th:block th:replace="~{footer::footer}"/>
</body>
</html>
