<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="~{partial :: bootstrap}"/>
    <title>Reservations</title>
</head>
<body>
<header>
    <nav th:replace="~{nav :: navbar}"></nav>
</header>
<div class="container">
    <main class="pb-3">
        <div th:replace="~{reservation/fragments :: filter}"></div>
        <div th:replace="~{reservation/fragments :: reservationsList}"></div>
    </main>
</div>
<th:block th:replace="~{footer::footer}"/>
</body>
</html>
